@model VideoBase;
@{
    ViewBag.Title = Model.Titulo;
    Layout = "_Layout";
    
    ViewData["Title"] = $"Paraíso Proibido - {Model.Titulo}";
    ViewData["OgImage"] = $"https://www.paraisoproibido.com/images/{Model.DefaultThumbSrc}";
    ViewData["OgUrl"] = "https://www.paraisoproibido.com";
    ViewData["OgVideo"] = $"https://www.paraisoproibido.com/images/{Model.Embed}";
    ViewData["TwitterImage"] = $"https://www.paraisoproibido.com/images/{Model.DefaultThumbSrc}";
    ViewData["TwitterPlayer"] = $"https://www.paraisoproibido.com/images/{Model.Embed}";

}

<div class="container1">
    <div class="video-section1">
        <div class="video-wrapper1">
            <iframe src="@Model.Embed" allowfullscreen></iframe>
        </div>
        <h1 class="video-title1">@Model.TituloFormatado</h1>
        
        @* Tags Section *@
        <div class="tags-section">
            @if (Model.Termos.Any())
            {
                foreach (var tag in Model.Termos)
                {
                    <a asp-controller="Home" asp-action="Index" asp-route-b="@tag.termo" class="video-tag">@tag.termo</a>
                }
            }
        </div>
        
        @* Related Videos Section *@
        <div class="related-videos-section">
            <h2 class="related-videos-title">Vídeos Relacionados</h2>
            <div class="videos">
                @if (Model.VideosRelacionados != null)
                {
                    foreach (var video in Model.VideosRelacionados)
                    {
                        <div class="video-item">
                            <a href="@Url.Action("V", "Home", new { id = video.Id })">
                                <img src="@video.DefaultThumbSrc" alt="@video.Titulo" class="video-thumb"
                                     data-thumbs="@string.Join(",", video.Miniaturas.Select(t => t.Src))" />
                                <span class="video-time">@video.DuracaoMinutos</span>
                                <p>@video.Titulo</p>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>


        <div class="bottom-ad">
            <ins class="eas6a97888e2" data-zoneid="5477692"></ins>
        </div>
        
   
    </div>

    <aside class="ads-section1">
        <div class="ad1">
            <ins class="eas6a97888e2" data-zoneid="5477684"></ins>
        </div>
        <div class="ad1">
            <ins class="eas6a97888e2" data-zoneid="5477686"></ins>
        </div>
        <div class="ad1">
            <ins class="eas6a97888e2" data-zoneid="5477688"></ins>
        </div>
    </aside>
</div>


<script>
    document.querySelectorAll('.video-thumb').forEach(function(thumb) {
        const thumbsArray = thumb.getAttribute('data-thumbs').split(',');
        let index = 0;
        let interval;

        thumb.addEventListener('mouseenter', function() {
            interval = setInterval(function() {
                thumb.src = thumbsArray[index];
                index = (index + 1) % thumbsArray.length;
            }, 1000);
        });

        thumb.addEventListener('mouseleave', function() {
            clearInterval(interval);
            thumb.src = thumbsArray[0];
        });
    });
</script>

<!-- Script AdProvider -->
<script async type="application/javascript" src="https://a.magsrv.com/ad-provider.js"></script>
<script>
    (AdProvider = window.AdProvider || []).push({"serve": {}});
</script>